.App {
  text-align: center;
  background-color:firebrick;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

img {
  height: 300px;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  border-color: bisque;
}

.column {
  display: inline-block;
}