.App {
  text-align: center;
  background-color:firebrick;

}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

img {
  height: 300px;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  border-color: bisque;
}

.column {
  display: inline-block;
}

.edit {
  font-size: x-large;
  padding: 30px;
}

#address {
  text-align: left;
  padding: 20px;
}

#type {
  text-align: right;
  padding: 20px;
}

.admin {
  padding: 50px;
  border: 30px;
  background-color: blanchedalmond;
}

.t-head {
  align-items: center;
  padding: 50px;
  margin: 50px;
  border: 10px solid;
  border-radius: 30px;
  border-color: black;
  background-color: azure;
  width: 75%;
  height: 25%;
}
.tr, th, td {
  border: 2px solid;
  border-radius: 1px;
  -webkit-margin-collapse: collapse;
}

.move-it {
  text-align: right;
  display: block;
  padding: 30px;
}
/* display: inline-block; */